.button {
  border-radius: 10px;
  border: none;
  font-family: "Jost", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  color: #F2F4FE;
  margin: 0;
  padding: 0;
}
