.button_cancel {
  background-color: #3A4374;
  height: 44px;
  width: 93px;
}

.button_cancel:hover {
  background: #656EA3;
  cursor: pointer;
}

@media screen and (max-width: 460px) {
  .button_cancel {
    width: 100%;
    margin: 16px 0 0 0;
  }
}
