@use "colors";
@use './src/vendor/fonts/fonts';

$color: #fff;

@mixin large-text {
  font: {
    size: 20px;
    family: "Helvetica Neue", Helvet;
  }
  line-height: 1.2;
  color: $color;
  background: #000;
  text-decoration: underline;
}

.page {
  @include large-text;  //mixin import
  margin: 0;
  padding: 0;
}

.zone {
  @include fonts.h1;
  border: none;
}

.body {
  color: colors.$font-color;  // variable import
  background: colors.$back-color;
}

.main {
  width: 10px;
  &__icon {
    height: 20px;
    &_active {
      border: 1px solid red;
    }
  }
}

.nav {
  ul {
    width: 20px;
  }
  li {
    width: 10px;
  }
  a {
    width: 5px;
    &:hover {
      background: transparent;
    }
  }
}

// @mixin fontFace($weight, $src) {
//   font: {
//     family: "Jost";
//     style: normal;
//     display: swap;
//     weight: $weight;
//   }
//   src: $src;
// }

// @font-face {
//   @include fontFace(
//     $weight: $regular,
//     $src: local("Jost-Regular.ttf") format("truetype")
//   );
// }
// @font-face {
//   @include fontFace(
//     $weight: $semibold,
//     $src: local("Jost-SemiBold.ttf") format("truetype")
//   );
// }
// @font-face {
//   @include fontFace(
//     $weight: $bold,
//     $src: local("Jost-Bold.ttf") format("truetype")
//   );
// }
