.button_place_feed-card {
  width: 40px;
  height: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  grid-area: 1 / 1 / 4 / 2;
  padding: 0;
  margin: 26px auto;
  z-index: 150;
}

@media screen and (max-width: 750px) {
  .button_place_feed-card {
    grid-area: 4 / 1 / 5 / 2;
    flex-direction: row;
    width: 69px;
    height: 39px;
    margin: 0;
  }
}