.header-main__title {
  font-family: "Jost", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.45;
  letter-spacing: -0.25px;
  color: #ffff;
  margin: 0 0 0 16px;
  padding: 0;
}

@media screen and (max-width: 700px) {
  .header-main__title {
    display: none;
  }
}