.roadmap__link {
  font-family: "Jost", Arial, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 1.45;
  text-decoration-line: underline;
  color: #4661E6;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  align-items: center;
}

.roadmap__link:hover {
  color: #8397F8;
}
