.button__vote-number {
  font-family: "Jost", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.18px;
  color: inherit;
  margin: 0;
  padding: 0;
}