.roadmap__number {
  font-family: "Jost", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.44;
  color: #647196;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
}