@use "../../../styles";

.header {
  grid-area: 1 / 1 / 2 / 2;
  max-width: 255px;
  box-sizing: border-box;
  border-radius: 10px;
  background: radial-gradient(
    128.88% 128.88% at 103.9% -10.39%,
    #e84d70 0%,
    #a337f6 53.09%,
    #28a7ed 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__title {
    @include styles.font-h2;
    color: #ffff;
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    @include styles.font-p2;
    color: #ffff;
    mix-blend-mode: normal;
    opacity: 0.75;
    margin: 0;
    padding: 0;
  }

  &__hamburger-button {
    display: none;
    width: 20px;
    height: 17px;
    background: {
      image: url(../../../assets/shared/mobile/icon-hamburger.svg);
      repeat: no-repeat;
      position: center;
      size: cover;
      color: transparent;
    }
    position: absolute;
    right: 24px;
    cursor: pointer;
    border: none;
  }
}

@media screen and (max-width: 700px) {
  .header {
    max-width: 100%;
    border-radius: 0;
    min-height: 72px;
    justify-content: center;
    position: relative;

    &__title {
      @include styles.font-h4;
    }

    &__subtitle {
      @include styles.font-p3;
    }

    &__hamburger-button {
      display: block;
    }
  }
}
