.header-main_place_roadmap {
  padding: 27px 40px 27px 32px;
  height: 113px;
  box-sizing: border-box;
}

@media screen and (max-width: 675px) {
  .header-main_place_roadmap {
    padding: 26px 24px;
    height: 100px;
    border-radius: 0;
  }
}