@use "./fonts";

.button {
  @include fonts.h4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  color: #f2f4fe;
  margin: 0;
  padding: 0;
  text-decoration: none;

  &__submit {
    background-color: #ad1fea;
    width: 158px;
    height: 44px;

    &_place_control-bar {
      position: absolute;
      right: 16px;
    }

    &_place_empty {
      margin: 48px 0 0 0;
    }

    @media screen and (max-width: 550px) {
      width: 134px;
    }

    &:hover {
      background: #c75af6;
      cursor: pointer;
    }

    &_place_empty {
      margin: 24px 0 0 0;
    }
  }
}
