@use "./fonts";

.button {
  @include fonts.h4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  color: #f2f4fe;
  margin: 0;
  padding: 0;
  text-decoration: none;

  &_submit {
    background-color: #ad1fea;
    width: 158px;
    height: 44px;
    @media screen and (max-width: 550px) {
      width: 134px;
    }
    &:hover {
      background: #c75af6;
      cursor: pointer;
    }
  }

  &_edit {
    background-color: #4661e6;
    height: 44px;
    width: 142px;
    &:hover {
      background-color: #7c91f9;
      cursor: pointer;
    }
    @media screen and (max-width: 750px) {
      width: 119px;
    }
  }

  &_delete {
    background-color: #d73737;
    height: 44px;
    width: 93px;
    position: absolute;
    left: 0;
    cursor: pointer;
    &:hover {
      background: #e98888;
    }
    @media screen and (max-width: 460px) {
      position: unset;
      width: 100%;
      margin: 16px 0 0 0;
    }
  }

  &_cancel {
    background-color: #3a4374;
    height: 44px;
    width: 93px;
    cursor: pointer;
    &:hover {
      background: #656ea3;
    }
    @media screen and (max-width: 460px) {
      width: 100%;
      margin: 16px 0 0 0;
    }
  }

  &_place_control-bar {
    position: absolute;
    right: 16px;
  }

  &_place_empty {
    margin: 48px 0 0 0;
  }

  &_place_comment {
    grid-area: 1 / 2 / 2 / 3;
    width: 117px;
    margin: 0 0 0 16px;
  }

  &_place_edit {
    margin: 0 0 0 16px;
    @media screen and (max-width: 460px) {
      width: 100%;
      margin: 0;
    }
  }
}
