.menu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 137px 166px 178px;
  gap: 24px 0;
  margin: 0;
  padding: 0;
  grid-area: 1 / 1 / 3 / 2;
  position: relative;
}

@media screen and (max-width: 1120px) {
  .menu {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 223px);
    gap: 0 10px;
  }
}

@media screen and (max-width: 730px) {
  .menu {
    grid-template-columns: 1fr;
  }
}
