$planned: #f49f85;
$progress: #ad1fea;
$live: #62bcfa;

.theme {
  &_planned {
    &_bg {
      background-color: $planned;
    }
    &_bb {
      border-bottom-color: $planned;
    }
    &_bt {
      border-top-color: $planned;
    }
  }
  &_in-progress {
    &_bg {
      background-color: $progress;
    }
    &_bb {
      border-bottom-color: $progress;
    }
    &_bt {
      border-top-color: $progress;
    }
  }
  &_live {
    &_bg {
      background-color: $live;
    }
    &_bb {
      border-bottom-color: $live;
    }
    &_bt {
      border-top-color: $live;
    }
  }
}
