.roadmap__subtitle {
  font-family: "Jost", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #647196;
  margin: 0;
  padding: 4px 0 0 0;
}
