@import url(./vendor/normolize.css);
@import url(./vendor/fonts/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/container-main/container-main.css);
@import url(./blocks/menu/menu.css);

@import url(./blocks/header-menu/header-menu.css);
@import url(./blocks/header-menu/__title/header-menu__title.css);
@import url(./blocks/header-menu/__subtitle/header-menu__subtitle.css);
@import url(./blocks/header-menu/__hamburger/header-menu__hamburger.css);

@import url(./blocks/tag-area/tag-area.css);
@import url(./blocks/tag-area/__container/tag-area__container.css);
@import url(./blocks/tag-item/tag-item.css);
@import url(./blocks/tag-item/_place/tag-item_place_roadmap-card.css);
@import url(./blocks/tag-item/_place/tag-item_place_menu.css);
@import url(./blocks/tag-item/_place/tag-item_place_feed-card.css);
@import url(./blocks/tag-item/_active/tag-item_active.css);

@import url(./blocks/roadmap/roadmap.css);
@import url(./blocks/roadmap/__header/roadmap__header.css);
@import url(./blocks/roadmap/__title/roadmap__title.css);
@import url(./blocks/roadmap/__title/roadmap__title_light.css);
@import url(./blocks/roadmap/__link/roadmap__link.css);
@import url(./blocks/roadmap/__spacer/roadmap__spacer.css);
@import url(./blocks/roadmap/__data/roadmap__data.css);
@import url(./blocks/roadmap/__unit/roadmap__unit.css);
@import url(./blocks/roadmap/__icon/roadmap__icon.css);
@import url(./blocks/roadmap/__icon/_planned/roadmap__icon_planned.css);
@import url(./blocks/roadmap/__icon/_progress/roadmap__icon_progress.css);
@import url(./blocks/roadmap/__icon/_live/roadmap__icon_live.css);
@import url(./blocks/roadmap/__subtitle/roadmap__subtitle.css);
@import url(./blocks/roadmap/__subtitle/roadmap__subtitle_offset.css);
@import url(./blocks/roadmap/__subtitle/_place/roadmap__subtitle_place_roadmap-card.css);
@import url(./blocks/roadmap/__subtitle/_place/roadmap__subtitle_place_roadmap-column.css);
@import url(./blocks/roadmap/__number/roadmap__number.css);
@import url(./blocks/roadmap/__card/roadmap__card.css);
@import url(./blocks/roadmap/__card/_type/roadmap__card_type_progress.css);
@import url(./blocks/roadmap/__card/_type/roadmap__card_type_planned.css);
@import url(./blocks/roadmap/__card/_type/roadmap__card_type_live.css);
@import url(./blocks/roadmap/__info-section/roadmap__info-section.css);
@import url(./blocks/roadmap/__title/_place/roadmap__title_place_roadmap-card.css);
@import url(./blocks/roadmap/__title/_place/roadmap__title_place_roadmap-menu.css);
@import url(./blocks/roadmap/__title/_place/roadmap__title_place_roadmap-column.css);
@import url(./blocks/roadmap/__title/_active/roadmap__title_live_active.css);
@import url(./blocks/roadmap/__title/_active/roadmap__title_planned_active.css);
@import url(./blocks/roadmap/__title/_active/roadmap__title_progress_active.css);

@import url(./blocks/empty-feed/empty-feed.css);
@import url(./blocks/empty-feed/__image/empty-feed__image.css);
@import url(./blocks/empty-feed/__title/empty-feed__title.css);
@import url(./blocks/empty-feed/__text/empty-feed__text.css);
@import url(./blocks/empty-feed/__add-btn/empty-feed__add-btn.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/button_add.css);
@import url(./blocks/button/button_edit.css);
@import url(./blocks/button/button_cancel.css);
@import url(./blocks/button/button_delete.css);
@import url(./blocks/button/button_vote.css);
@import url(./blocks/button/__icon/button__icon.css);
@import url(./blocks/button/__icon/button__icon_active.css);
@import url(./blocks/button/__vote-number/button__vote-number.css);
@import url(./blocks/button/button_active.css);
@import url(./blocks/button/_place/button_place_header-main.css);
@import url(./blocks/button/_place/button_place_empty-feed.css);
@import url(./blocks/button/_place/button_place_feed-card.css);
@import url(./blocks/button/_place/button_place_roadmap-card.css);
@import url(./blocks/button/_place/button_place_modal.css);
@import url(./blocks/button/_place/button_place_add-comment.css);
@import url(./blocks/button/_place/button_place_comment-card.css);

@import url(./blocks/hamburger/hamburger.css);
@import url(./blocks/hamburger/__dialog/hamburger__dialog.css);
@import url(./blocks/hamburger/__tag-area/hamburger__tag-area.css);
@import url(./blocks/hamburger/__roadmap/hamburger__roadmap.css);

@import url(./blocks/drop-menu/drop-menu.css);
@import url(./blocks/drop-menu/__item/drop-menu__item.css);
@import url(./blocks/drop-menu/__text/drop-menu__text.css);
@import url(./blocks/drop-menu/__icon/drop-menu__icon.css);
@import url(./blocks/drop-menu/__icon/drop-menu__icon_active.css);

@import url(./blocks/header-main/header-main.css);
@import url(./blocks/header-main/_place/header-main_place_roadmap.css);
@import url(./blocks/header-main/__icon/header-main__icon.css);
@import url(./blocks/header-main/__title/header-main__title.css);
@import url(./blocks/header-main/__sort-unit/header-main__sort-unit.css);
@import url(./blocks/header-main/__sort-unit/header-main__sort-unit_idle.css);
@import url(./blocks/header-main/__sort-arrow/header-main__sort-arrow.css);
@import url(./blocks/header-main/__sort-text/header-main__sort-text.css);

@import url(./blocks/feed-cards/feed-cards.css);

@import url(./blocks/hide/hide.css);

* {
  outline: 1px solid red;
}

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
