.empty-feed__text {
  font-family: "Jost", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.46;
  color: #3A4374;
  margin: 0;
  padding: 16px 0 0 0;
  width: 410px;
  min-height: 46px;
}

@media screen and (max-width: 700px) {
  .empty-feed__text {
    font-size: 13px;
    width: 278px;
    text-align: center;
  }
}